* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 65px;
}

h1 {
  font-size: 30px;
  margin-left: 30px;
}

.one {
  background-color: rgb(44, 44, 67);
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-size-15 {
  font-size: 20px;
}

.f-size-48 {
  font-size: 48px;
}

.bold {
  font-weight: bold;
}

.f-size-24 {
  font-size: 24px;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
}

.m-l-20 {
  margin-left: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.text-blue {
  color: rgb(35, 126, 217);
}

.f-size-36 {
  font-size: 36px;
}

.three {
  height: 30vh;
  background-color: rgb(233, 231, 231);
}

.italic {
    font-style: italic;
}
